/* Buttons */
.btn-blue-solid,
.btn-blue-solid:hover,
.btn-blue,
.readmore-button,
.btn-big-blue,
.hr-button,
.hr-button-white:hover {
    border-color: #b8a279;
}
.btn-blue-solid,
.btn-blue:hover,
.btn-big-blue {
    background: #b8a279;
}
.btn-blue-solid:hover,
.btn-blue,
.readmore-button,
.btn-big-blue:hover,
.hr-button,
.hr-button-white:hover {
    color: #b8a279;
}

/* Topbar */
.topbar-right a:hover {
    color: #b8a279;
}

/* Navbar/ Menu */
.nav li a:hover {
    color: #b8a279 !important;
}
.right-navbar ul li a:hover {
    color: #b8a279;
}
.cart-num {
    background-color: #b8a279;
}

/* About */
.big-number,
.rt-link a,
.img-column-2 .rt-link-left a {
    color: #b8a279;
}

/* What We Do */
.what-we-do h4 {
    color: #b8a279;
}

/* About Info */
.about-info h1,
.facts-counter span {
    color: #b8a279;
}

/* Team */
.team-overlay .social-share a:hover i,
.member-detail h4,
.overlay_content p {
    color: #b8a279;
}

/* Work Carousel */
.work-carousel .owl-controls .owl-buttons div,
.work-carousel-2 .owl-controls .owl-buttons div,
.related-posts-carousel .owl-controls .owl-buttons div {
    color: #b8a279 !important;
}
.work-carousel-3 .owl-pagination .owl-page.active span {
    background-color: #b8a279 !important;
}

/* Design Styles */
.design-styles h4,
.process-column h4 {
    color: #b8a279;
}

/* Partners */
.partners-2 .owl-controls .owl-buttons div {
    color: #b8a279 !important;
}

/* Breadcrumbs */
.breadcrumbs ul li a.active {
    color: #b8a279;
}

/* Blog Post */
.post-date,
.blog-short-detail a,
.blog-post h4 a,
.blog-post h4,
.blog-post ul li a:hover,
.reply:hover {
    color: #b8a279;
}

/* Blog Sidebar */
.search-form .btn-search:hover,
.categories ul li a:hover,
.tags ul li a:hover,
.twitter-feed a,
.twitter-feed i,
.twitter-feed .expand:hover,
.article-date {
    color: #b8a279;
}
.calender .active {
    background: #b8a279;
}
.tags ul li a:hover {
    border-color: #b8a279;
}

/* Properties */
.property-price,
.property-actions ul li a,
.property-search h6 {
    color: #b8a279;
}
.property-actions ul li a {
    border-color: #b8a279 !important;
}
.property-actions ul li a:hover {
    background-color: #b8a279;
}

/* Agents */
.agents-carousel .owl-controls .owl-buttons .owl-prev:hover,
.agents-carousel .owl-controls .owl-buttons .owl-next:hover,
.featured-properties-carousel .owl-controls .owl-buttons .owl-prev:hover,
.featured-properties-carousel .owl-controls .owl-buttons .owl-next:hover {
    color: #b8a279 !important;
}
.agent-details h4 {
    color: #b8a279;
}

/* Footer */
.footer h5,
.quick-links ul li a:hover,
.news-details h4 a,
.newsletter-form .btn-search:hover,
.footer-social li a:hover,
.copyrights-links ul li a:hover {
    color: #b8a279;
}

/* Signup Modal/ Popup */
.close span {
    border-color: #b8a279;
    color: #b8a279;
}
.lost-password span {
    background: #b8a279;
}
.sale-ribbon.ribbon-blue {
    background: #b8a279;
}

#color-switcher h2 {
  background-color: #b8a279;
}
#color-switcher i {
  color: #b8a279;
}